
.pageContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 7rem 2rem 5rem 2rem; /* Adjusted padding for fixed navbar */
}

.pageTitle {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #e0e0e0;
  border-bottom: 1px solid #00bcd4;
  padding-bottom: 0.5rem;
}

.pageContent {
  line-height: 1.8;
  font-size: 1.1rem;
  color: #dcdcdc;
}

.pageContent img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pageContent h1, .pageContent h2, .pageContent h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #e0e0e0;
}

.pageContent p {
  margin-bottom: 1rem;
}

.pageContent a {
  color: #00bcd4;
  text-decoration: underline;
}

.pageContent dt {
font-weight: bold;
margin-top: 8px;
}

.pageContent dd {
margin-left: 20px;
color: #a4a4a4;
}