.navbarWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 4rem;
  min-height: 4rem;
  box-sizing: border-box;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  background: transparent;
  margin: 1rem 1rem 1rem 1rem;
  z-index: 999;
  transition: height 0.3s ease-in-out;
}

.navbarWrapper::before {
  content: '';
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(29, 57, 57);
  border-radius: 2rem;
  background: rgba(29, 57, 57, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 8px rgba(72, 144, 144, 0.2);
  z-index: -1;
  left: 0;
  top: 0;
}

.navbar {
  display: flex;
  position: absolute;
  height: 4rem;
  font-family: "Noto Sans JP", sans-serif;
  top: 0;
  width: 100%;
}

.navbar-logo {
  position: absolute;
  left: 1rem;
  top: 2rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    color: #A0A0A0; /* グレーに変更 */
    margin-left: 4rem; /* Adjust as needed */
}

.breadcrumbLink {
    color: #A0A0A0; /* グレーに変更 */
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.breadcrumbLink:hover {
    color: #00bcd4;
}

.separator {
    margin: 0 0.5rem;
    display: inline-block;
    width: 1.0em;
    height: 1.0em;
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.navbarLinks {
  position: absolute;
  top: 2rem;
  transform: translateY(-50%);
  right: 0;
  margin-right: 1.5rem;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
}

.navbarLinks li a {
  background: transparent;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbarLinks li a:hover {
  color: #00bcd4;
}

.navbar-toggle {
  display: none;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  padding: 0;
}

.navbarLinksMobile {
  display: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbarLinksMobile {
    box-sizing: border-box;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    top: 4rem;
    height: auto;
    width: 100%;
    padding: 0.5rem 1rem 1.5rem 1rem;
  }

  .navbarLinksMobile.open {
    opacity: 1;
    visibility: visible;
  }

  .navbarLinksMobile li a {
    margin-left: 0rem;
    width: 100%;
    display: block;
    background: transparent;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbarLinksMobile li a:hover {
    color: #06b8cf;
  }

  .navbar-toggle {
    display: block;
  }

  .navbarLinks {
    display: none;
  }
} 