@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: rgb(17, 29, 29);
    color: aliceblue;
}

.footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0%;
    height: 7rem;
    padding: 1rem 1rem;
    background-color: #07141b;
    color: aliceblue;
    z-index: 1;
}

.footerText {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    color: rgb(127, 142, 154);
    align-items: center;
}

.footerLinks {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    gap: 0.2rem 2rem;
    margin: 0;
    padding: 0rem 1rem;
    height: 2.1rem;
}
.footerLinks li a {
    background: transparent;
    text-decoration: none;
    color: rgb(127, 142, 154);
    font-size: 0.8rem;
    transition: color 0.3s;
}

.footerLinks li a:hover {
    color: #00bcd4;
    /* シアン色 */
}

.copyright {
    margin-bottom: 0px;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}